:root {
    --t0: 4.5rem;
    --t1: 4rem;
    --t2: 2.5rem;
    --t3: 2rem;
    --p0: 1.687rem;
    --p1: 1.25rem;
    --p2: 1rem;
    --p3: 0.75rem;
    --gutter: 3.125rem;
  }
  @supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
  }
  html{
    text-rendering: optimizelegibility;
      font-feature-settings: "kern";
      font-kerning: normal;
      -webkit-font-smoothing: antialiased;
      line-height: 1.15;
      text-size-adjust: 100%;
      display: block;
    font-size: 1.11111vw;
      word-break: break-word;
  }
  @media (max-width: 1080px) {
    html {
        font-size: 12px !important;
    }
  }
  @media (max-width: 730px) {
    :root {
        --t0: 2.67rem;
        --t1: 2.67rem;
        --t2: 2rem;
        --t3: 1.67rem;
        --p0: 1.5rem;
        --p1: 1.167rem;
        --p2: 1rem;
        --p3: 1rem;
    }
  }
  @media (max-width: 1080px) {
    :root {
        --gutter: 3vw;
    }
  }
  @media (max-width: 670px) {
    :root {
        --gutter: 20px;
    }
  }